@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F0F8FF;
    display: flex;
    gap: 100px;
    padding: 50px;
    align-items: center;
    height: 100vh;    
    flex-direction: column;
    font-family: 'Gugi', cursive;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 50px;
}
#funcionalidade {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#timer {
    font-size: 30px;
}

.main button {
    margin-right: 15px;
    margin-top: 20px;
    width: 100px;
    border: 1px solid #c9e6fc;
    border-radius: 15px;
    padding: 15px;
}

#restart {
    background-color: #59429d;
    color: #F0F8FF;
}

#start {
    color: #ffffff;
    background-color: #ee1e52;
}

#restart:hover {
    color: #ffffff;
    background-color: #6666eb;
}

#start:hover {
    background-color: #f76c77;
    color: white;
}

#start:hover, #restart, #mark:hover, #stop:hover {
    cursor: pointer;
}

#cronometro {
    margin-bottom: 30px;
}

#voltar {
    width: 300px;
    display: none;
    flex-direction: column-reverse;
}

#voltar h3{
    margin: 15px;
}

#stop {
    color: white;
    background-color: #c49643;
    display:none;
}

#stop:hover {
    color: white;
    background-color: #d8a649;
}

#mark {
    color: white;
    background-color: black;
    display:none;
}

#mark:hover {
    color: white;
    background-color: rgb(41, 41, 41);
}

.voltarTimerId {
    display: grid;
    width: 100%;
    height: 45px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    align-items: center;
}

.number, #number {
    width: 40px;
}

#fixed-timer-voltar {
    order: 1;
}

#content-timer {
    order: 2;
}
